
<div class="card shadow">
    <h5 class="card-header">Hashtags</h5>
    <div class="card-body">
        <p>
            <a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a>
            <a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a><a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a><a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a>
        </p>
    </div>
</div>

<div class="card shadow mt-4">
    <h5 class="card-header">Trentopic</h5>
    <div class="card-body">
        <p>
            <a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a>
            <a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a><a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a><a href="#">asdf</a>
            <a href="#">dsssf</a>
            <a href="#">sadfdasgfas</a>
            <a href="#">sdagsdhgdhgdjfgdj</a>
            <a href="#">as</a>
            <a href="#">sadfsadgdsfh</a>
        </p>
    </div>
</div>